@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.scroll-lock{
  overflow: hidden;
}

section{
  scroll-margin-top: "87px";
  scroll-snap-type: y mandatory !important;
}

/* PARA MAG STRETCH YUNG CARDS SA SLIDER */

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  height: 100% !important;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto !important;
}

.slick-slide>div {
  height: 100%;
}

.slick-dots li button:before {
  width: 100% !important;
  height: 6px !important;
  text-align: center !important;

  opacity: 0.4 !important;
  color: transparent !important;
  background-color: white !important;
  border-radius: 15px !important;
}

.slick-dots{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  row-gap: 1px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: white;
}

.slick-dots li {
  width: 10px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active {
  width: 34px;
  transition: width 0.3s ease-in-out;
}

/* SLIDER END */